---
layout: docs-base
html-class: docs-page
docs_title: Learn EXPRESS

navigation:
  base_url: /learn
  items:

  - title: EXPRESS
    path: /express/
  - title: EXPRESS-G
    path: /express-g/
  - title: Advanced EXPRESS
    path: /express-advanced/
  - title: EXPRESS rules
    path: /express-rules/
  - title: Modelling principles
    path: /modelling-principles/

  - title: Exercises
    items:
    - title: Modelling exercises
      path: /modelling-exercises/
    - title: Answers to exercises
      path: /modelling-answers/

  - title: Examples
    items:
    - title: EXPRESS - Cars
      path: /example-exp-cars/
    - title: EXPRESS-G - Cars
      path: /example-expg-cars/
    - title: EXPRESS - Car registration
      path: /example-model-carreg/
---

{{ content }}
