---
layout: docs-base
html-class: docs-page
docs_title: Learn EXPRESS

navigation:
  base_url: /learn
  items:

  - title: Intro to EXPRESS
    path: /express/
  - title: Intro to EXPRESS-G
    path: /express-g/
  - title: Best practices in EXPRESS
    path: /modelling-best-practices/
  - title: Advanced EXPRESS
    path: /express-advanced/
  - title: Using rules in EXPRESS
    path: /express-rules/

  - title: EXPRESS exercises
    items:
    - title: Modelling exercises
      path: /modelling-exercises/
    - title: Answers to exercises
      path: /modelling-answers/

  - title: EXPRESS examples
    items:
    - title: EXPRESS - Cars
      path: /example-exp-cars/
    - title: EXPRESS-G - Cars
      path: /example-expg-cars/
    - title: EXPRESS - Car registration
      path: /example-model-carreg/
---

{{ content }}
